html {
    /* JS animation for other broswers */
    animation-name: clipPagelength;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    height: 100%;
    overflow: hidden;
}
nav {
    animation-name: endLoad;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    height: 100%;
}
#content {
    animation-delay: 2.7s;
}

nav.override {
    animation-duration: 0s!important;
    height: 5em!important;
}
#content.override{
    animation-delay: 0s!important;
}

.loadin .subtitle, .loadin br,.loadin iframe {
    display: none;
}

.open .loadin br, .open .loadin iframe {
    display: inline;
}

.open .loadin .subtitle {
    display: block;
}

#top-level {
    margin: 5em 3% 0 5%;
    font-size: 125%;
}