@font-face {
    font-family: proximaNova;
    src: url(../fonts/ProximaR.otf);
}
html{
	font-family: 'proximaNova', serif !important;
    overflow: hidden;
}
#text {
    left: 0;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}
.fa:hover{
	color: grey;
}
hr{
    margin: 0!important;
}
a:link{
    text-decoration: none;
}
.avatar{
	height: 10rem;
	transition: background-color 2s;
}
.avatar:hover{
	background-color: #000000;
	transition: background-color .5s;
}
#privacypolicy{
    position: absolute;
    bottom:-100%;
    z-index: 3;
    background-color: white;
    width: 100%;
}
button{
    position: absolute;
    bottom: 0;
    right: 0;
}
.unprivacy{
    position: absolute;
    right:0;
}
#aboutstuff{
	width: 100%;
	height: 10%;
	margin: 0;
	padding: 0;
}
