@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,400;0,500;0,700;1,500&display=swap');
html, body {
    font-family: 'Epilogue', 'Roboto', sans-serif;
    margin: 0;
}
h1, h2, h3, h4, h5 {
    font-weight: 400;
}
body > a {
    text-decoration: none;
}
body > a:hover {
    color: #FFF;
}
a {
    color: #FFF;
}
.sticky {
    position: fixed;
    top: 0;
}
.sticky + #content {
    padding-top: 10vh;
}
nav {
    height: 10vh;
    display: flex;
    background-color: #00AEEF;
    transition: background-color .25s;
}
nav:hover {
    background-color: #27c2fa;
}
#stickyNav {
    background-color: #00AEEF;
    height: 10vh;
    display: flex;
    width: 100%;
}
#section-name {
    margin: auto 0 auto 2vh;
    font-size: 2em;
    text-align: center;
    height: fit-content;
    color: #333;
}
.face-img {
    background-image: url('/static/img/headshot.jpg');
    background-size: contain;
}
#nav-logo {
    height: 60%;
    border-radius: 100%;
    margin: auto 0 auto 3rem;
}
nav i {
    font-size: 4rem;
    margin: auto 2rem auto auto;
}
nav img {
    height: 100%;
    border-radius: 100%;
    transition: opacity .1s ease-in-out;
}
nav:hover img{
    opacity: 0;
}
.nav-name {
    margin: auto 0 auto 2vh;
    font-size: 2em;
    text-align: center;
    height: fit-content;    
}

#info {
    display: flex;
    flex-direction: column;
}

#mobile-title {
    display: none;
}
#project-details {
    width: 100%;
    display: flex;
    background-color: #FFF;
}
#project-details img {
    margin: auto 0 0 0;
    width: 15rem;
}
#project-details h1, #project-details h4 ,#project-details h5 {
    margin: auto 0 0 1rem; /*3rem*/
}
#project-details a {
    text-decoration: none;
}

.availableat {
    height: 15rem;
    font-size: 2rem;
    padding: 0 1rem;
    background-color: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    transition: filter .25s;
}
.availableat:hover {
    filter: invert(.1);
}

.availableat * {
    font-size: 3rem;
    width: 3rem!important;
    margin: auto!important;
    text-decoration: none;
    
}
#emp-content {
    margin: 1em 2em 0 2em;
    color: #FFF;
}
p {
    font-size: 1.25em;
}
h4 {
    margin-top: 2em;
}
ul {
    margin: auto 1em;
}
.row {
    display: flex;
}
.row img {
    margin: auto;
}
img.float {
    box-shadow: black 0 0 20px 0;
}
@media (max-width: 1000px) {
    #project-details h4, #project-details h5 {
        display: none;
    }
}
@media (max-width: 750px) {
    #project-details img {
        width: 15rem;
        margin: 0px;
        margin-bottom: 0px;
    }
    #project-details #mobile-title {
        margin: auto;
    }
    #project-details h1, #project-details h4, #project-details h5 {
        display: none;
    }
    #mobile-title {
        display: flex;
        flex-direction: column;
        /* margin-bottom: 4rem;
        margin-top: 2rem; */
    }
    #mobile-title * {
        margin: auto;
        text-align: center;
    }
    .row {
        flex-direction: column;
    }
  }
@media (min-width: 750px) {
    nav:hover .nav-name::before {
        content: "Back to ";
    }
    nav:hover .nav-name::after {
        content: ".com ";
    }
}