body > a {
    text-decoration: none;
}
body > a:hover {
    color: #FFF;
}
nav:hover {
    background-color: #27c2fa;
}
.face-img {
    background-image: url('/assets/img/headshot.jpg');
    background-size: contain;
}
#nav-logo {
    height: 60%;
    border-radius: 100%;
    margin: auto 0 auto 3rem;
}
nav i {
    font-size: 4rem;
    margin: auto 2rem auto auto;
}
nav img {
    height: 100%;
    border-radius: 100%;
    transition: opacity .1s ease-in-out;
}
nav:hover img{
    opacity: 0;
}
.nav-name {
    margin: auto 0 auto 2vh;
    font-size: 2em;
    text-align: center;
    height: fit-content;    
}

#info {
    display: flex;
    flex-direction: column;
}
#info h6 {
    margin: 0 1rem;
    font-weight: normal;
}
#mobile-title {
    display: none;
}
#award-details {
    margin: 1rem 2rem;
}
#award-details img {
    margin: auto 0 0 0;
    width: 15rem;
}
.badge-ribbon {
    position: relative;
    background-color: black;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    transition: background-color .25s;
}
.badge-ribbon::before,
.badge-ribbon::after {
    z-index: -1;
    content: '';
    position: absolute;
    border-bottom: 11rem solid #00aeee;
    border-left: 4rem solid transparent;
    border-right: 4rem solid transparent;
    top: 11rem;
    left: -1rem;
    transform: rotate(-150deg);
}
.badge-ribbon:after {
    left: auto;
    right: -1rem;
    transform: rotate(150deg);
}

#award-details h1, #award-details h4 ,#award-details h5 {
    margin: auto 0 0 1rem; /*3rem*/
}
#award-details a {
    text-decoration: none;
}

.availableat {
    height: 100%;
    font-size: 2rem;
    padding: 0 1rem;
    background-color: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    transition: filter .25s;
}
.availableat:hover {
    filter: invert(.1);
}

.availableat * {
    font-size: 3rem;
    width: 3rem!important;
    margin: auto!important;
    text-decoration: none;
    
}
#award-content {
    margin: 2em 2em 0 2em;
    color: #FFF;
}
#emp-container {
    width: 100%;
    display: flex;
    background-color: #FFF;
}
#emp-container img {
    margin: auto 0 0 0;
    width: 15rem;
}
#emp-container h1, #emp-container h4 ,#emp-container h5 {
    margin: auto 0 0 .5em;
}
#emp-content, #project-content {
    margin: 1em 2em 0 2em;
    color: #FFF;
}
#project-details {
    width: 100%;
    display: flex;
    background-color: #FFF;
}
#project-details img {
    margin: auto 0 0 0;
    width: 15rem;
}
#project-details h1, #project-details h4 ,#project-details h5 {
    margin: auto 0 0 1rem; /*3rem*/
}
#project-details a {
    text-decoration: none;
}

#emp-content {
    margin: 1em 2em 0 2em;
    color: #FFF;
}
p {
    font-size: 1.25em;
}
h4 {
    margin-top: 2em;
}
ul {
    margin: auto 1em;
}
.row {
    display: flex;
}
.row img {
    margin: auto;
}
img.float {
    box-shadow: black 0 0 20px 0;
}
.photo-group {
    display: flex;
    width: 100%;
    justify-content: center;
}
.photo-group > * {
    margin: auto .5rem;
    height: auto;
    max-width: 40%;
}
.photo-group img {
    width: 100%;
}
@media (max-width: 1000px) {
    #emp-container h4, #emp-container h5 {
        display: none;
    }
    #project-details h4, #project-details h5 {
        display: none;
    }
}
@media (max-width: 750px) {
    #emp-container img {
        width: 15rem;
        margin: 0px;
        margin-bottom: 0px;
    }
    #emp-container * {
        margin: auto;
    }
    #emp-container h1, #emp-container h4, #emp-container h5 {
        display: none;
    }
    #award-details img {
        width: 15rem;
        margin: 0px;
        margin-bottom: 0px;
    }
    #award-details #mobile-title {
        margin: auto;
    }
    #award-details h1, #award-details h4 {
        display: none;
    }
    #info h5, #info h6 {
        display: none;
    }
    #project-details img {
        width: 15rem;
        margin: 0px;
        margin-bottom: 0px;
    }
    #project-details #mobile-title {
        margin: auto;
    }
    #project-details h1, #project-details h4, #project-details h5 {
        display: none;
    }
    #mobile-title {
        display: flex;
        flex-direction: column;
        /* margin-bottom: 4rem;
        margin-top: 2rem; */
    }
    #mobile-title * {
        margin: auto;
        text-align: center;
        display: block!important;
    }
    #mobile-title h2 {
        -ms-word-break: break-all;
        word-break: break-all;
        
        /* Non standard for WebKit */
        word-break: break-word;
        
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
            hyphens: auto;
    }
    .row {
        flex-direction: column;
    }
    .photo-group {
        flex-direction: column;
    }
    .photo-group > * {
        max-width: 100%;
    }
  }
@media (min-width: 750px) {
    nav:hover .nav-name::before {
        content: "Back to ";
    }
    nav:hover .nav-name::after {
        content: ".com ";
    }
}