---
layout: page
---
{% assign ifAn = page.job | slice: 0, 1 %}
<div id="emp-container">
    <img src="{{page.logo}}"/ alt="{{page.logo-alt}}">
    <h1>{% if ifAn == "A"%}An {% else %}A{% endif %} {{page.job}} @ {{page.org}}</h1><h5>{{page.dates}}</h5>
    <div id="mobile-title">
        <h2>
            {{page.org}}
        </h2>
        <h5>
            {{page.job}}
        </h5>
        <h6>
            <b>{{page.dates}}</b>
        </h6>
    </div>
</div>
<div id="emp-content">
    {{content}}
</div>