---
layout: page
---

<div id="project-details">
    <img src="{{ page.logo }}"/ alt="{{ page.logo-alt }}">
    {% if page.website %}
    <a href="{{ page.website }}">
        <div style="background-color: #013096;" class="availableat">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
            </svg>
        </div>
    </a>
    {% endif %}
    {% if page.github %}
    <a href="{{ page.github }}">
        <div class="availableat">
            <i class="fab fa-github-square"></i>
        </div>
    </a>
    {% endif %}
    {% if page.devpost %}
    <a href="{{ page.devpost }}">
        <div style="background-color: #003E54;" class="availableat">
            <img src="/assets/img/programmer/devpost.svg" alt="Devpost logo"/>
        </div>
    </a>
    {% endif %}
    <div id="info"><h1>{{ page.name }}</h1><h4>{{ page.project-type }} {% if page.status %}[{{ page.status }}]{% endif %}</h4> <h5>{{ page.date | date: '%B %Y'}}</h5></div>
    <div id="mobile-title">
        <h2>
            {{ page.name }}
        </h2>
        <h6>
            {{ page.date | date: '%B %Y'}}
        </h6>
    </div>
</div>
<div id="project-content" {% if page.text-color %}style="color:{{ page.text-color }}"{% endif %}>
    {{ content }}

    {% if page.emailReplacement %}
    <div>
        {{page.emailReplacement}}
    </div>
    {% else %}
    <b style="font-size: 2rem">
        If you'd like to work on {{page.title}}, <a style="color: inherit!important;" target="_blank" href="mailto:hi@joebabbitt.com?subject=Working on {{page.title}}">shoot me an email</a>
    </b>
    {% endif %}
</div>